body{
    background-color:#76C4AE;
    font-size:16px;
    text-decoration:underline;
}

img{
    float:right;
    height:350px;
    width:350px;
    padding:25px;
    display:inline-block;
}

h1{
    padding:25px 75px 25px 25px;
}

.tutvustus{
    display:inline-block;
}

.elements{
    margin-left:250px;
    margin-right:250px;
    margin-top:25px;
}

p{
    font-family:"Times New Roman", sans-serif, serif;
    font-style: italic;
    font-size: 15px;
    font-weight:100;
}
