body{
    background-color:#76C4AE;
    font-size:16px;
    text-decoration:none;
    white-space:nowrap;
}

img{
    float:right;
    height:350px;
    width:350px;
    padding:25px;
    display:inline-block;
    vertical-align:text-top;
    position:static;
}

h1{
    padding:25px 75px 25px 25px;
    text-align:center;
}

.tutvustus{
    display:inline-block;
}

.elements{
    margin-left:250px;
    margin-right:250px;
    margin-top:25px;
}

p{
    font-family:"Times New Roman", sans-serif, serif;
    font-style: italic;
    font-size: 15px;
    font-weight:100;
    min-width:10px;
    max-width:50px;
}

.Button{
    border: 2px black inset;
    background-image:url("http://image.shutterstock.com/display_pic_with_logo/1175219/121787242/stock-photo-duotone-camo-small-circle-background-repetitive-121787242.jpg");
    background-color:cadetblue;
    background-repeat:no-repeat;
    border-radius:5px;
    height:20px;
    width:50px;
}

a:link, a:visited {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.small{
    text-shadow:2px 2px #ffffff;
    line-height:50%;
}

table{
    box-shadow:2px 2px grey;
}

ul{
    list-style-type:upper-roman;
}